* {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: var(--h1-color);
}

h2 {
  color: var(--h2-color);
}

h3 {
  color: var(--h3-color);
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: var(--bg-header);
  padding: var(--padding-small);
}
.left-nav ul li {
  margin-top: 1rem;
}
.right-nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}
.right-nav button {
  background-color: var(--bg-main);
  color: var(--text-main);
}
.links {
  display: none;
}
.links.open {
  display: block;
}
.links li {
  list-style-type: none;
}

.Content {
  padding: var(--padding-small);
}

.Content ul,
.Content dl {
  padding-left: 2rem;
}
.Content dd {
  padding-left: 2rem;
}
.Content h1,
.Content h2 {
  padding: var(--padding-medium) 0;
}

.hobby img {
  max-width: 20rem;
}
.Portrait img {
  max-width: 18rem;
  width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-optical-sizing: auto;
}
a {
  color: var(--text-link);
  text-decoration: underline;
}
body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-body);
  font-optical-sizing: auto;
  font-style: normal;
}

.hobby > h2 {
  font-weight: bold;
  color: var(--hobby-heading);
  background-color: var(--bg-header);
}
.hobby p {
  font-style: italic;
  margin: 1rem 0;
}
.grid-layout-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 20rem));
}
.contact {
  display: grid;
  grid-template-columns: max-content 1fr;
}
@media screen and (min-width: 992px) {
  /* hobby page rules for desktop */
  .hobby {
    display: flex;
    flex-direction: column;
  }

  .pic-text {
    margin: 1rem 0;
    display: flex;
    gap: 2rem;
    max-width: 40rem;
    align-items: flex-start;
  }
  /* Nav Bar Rules*/
  .right-nav button {
    display: none;
  }

  header {
    display: flex;
    gap: 1rem;
  }
  .links {
    display: block;
  }

  .left-nav {
    display: flex;
    align-items: baseline;
    gap: 1rem;
  }
  .left-nav ul {
    gap: 0.5rem;
    display: flex;
  }
}
