:root {
  --bg-main: #fbf1c7;
  --bg-header: #ebdbb2;
  --text-main: #3c3836;
  --text-link: #076678;
  --h1-color: #79740e;
  --h2-color: #b57614;
  --h3-color: #076678;
  --hobby-heading: #427b58;
}

/* Fonts */
:root {
  --font-body: "Jost", system-ui, sans-serif;
  --font-heading: "JetBrains Mono", monospace;
}

/* Spacing */
:root {
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --gap-small: 1rem;
}

body.dark-mode {
  --bg-main: #282828;
  --bg-header: #3c3836;
  --text-main: #ebdbb2;
  --text-link: #fe8019;
  --h1-color: #98971a;
  --h2-color: #fabd2f;
  --h3-color: #458588;
  --hobby-heading: #83a598;
}
